.headingH2 {
  font-size: fluidSp(32);
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-14);
  font-family: var(--font-family-noto-sans-jp);
  width: fit-content;
  position: relative;
  will-change: transform;
  transform: translateX(-20%) translateY(20%) rotate(-10deg);
  transition-property: transform, opacity;
  transition-duration: 1500ms, 600ms;
  transition-timing-function: var(--spring-bouncy), ease;
  opacity: 0;

  @include pc() {
    font-size: fluidPc(24);
  }
  &:global(.isInview) {
    transform: translateX(0);
    opacity: 1;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: fluidSp(4);
    left: 0;
    width: fluidSp(30);
    height: fluidSp(4);
    background-color: var(--color-bg-primary);

    @include pc() {
      width: fluidPc(48);
      height: fluidPc(4);
      bottom: fluidPc(4);
    }
  }
  
  &.headingH2--en {
    font-size: fluidSp(32);
    font-family: var(--font-family-jost);
    @include pc() {
      font-size: fluidPc(42);
    }
    &.isInview {
      transform: translateX(0);
    }
  }

  &.headingH2--centered {
    margin-inline: auto;
    &::before {
      display: none;
    }
  }
}