.containerTop {
  width: 100%;
  margin: 0 auto;
  padding-left: fluidSp(15);
  padding-right: fluidSp(15);

  @include pc() {
    max-width: fluidPc(1440);
    padding-left: fluidPc(60);
    padding-right: fluidPc(60);
    margin-inline: auto;
  }
}