.blogsDetail {
  margin-top: fluidSp(70);

  @include pc() {
    margin-top: fluidPc(140);
  }
}

.blogsDetailMv {
  margin-top: fluidSp(25);

  @include pc() {
    margin-top: fluidPc(50);
  }
}

.blogsDetailTitle {
  font-size: fluidSp(24);
  font-weight: var(--font-weight-500);
  color: var(--text-color-black);
  line-height: var(--line-height-14);

  @include pc() {
    font-size: fluidPc(30);
  }
}

.blogsDetailDate {
  display: block;
  font-family: var(--font-roboto);
  font-size: fluidSp(14);
  font-weight: var(--font-weight-500);
  color: var(--text-color-black);
  line-height: var(--line-height-14);
  margin-top: fluidSp(10);

  @include pc() {
    font-size: fluidSp(16);
    margin-top: fluidPc(20);
  }
}

.blogsDetailThumbnail {
  width: stretch;
  margin-top: fluidSp(15);

  @include pc() {
    margin-top: fluidPc(20);
  }
}

.blogsDetailImg {
  width: stretch;
  border-radius: fluidSp(12);

  @include pc() {
    border-radius: fluidPc(16);
  }
}

.blogsDetailContents {
  margin-top: fluidSp(40);
  padding-bottom: fluidSp(100);

  @include pc() {
    margin-top: fluidPc(50);
    padding-bottom: fluidPc(120);
  }
}

// リッチエディタ部分
.blogsDetailMain {
  border-top: fluidSp(1) solid var(--text-color-black);
  padding-top: fluidSp(40);

  @include pc() {
    border-top: fluidPc(1) solid var(--text-color-black);
    padding-top: fluidPc(50);
  }

  p {
    color: var(--text-color-black);
    font-size: fluidSp(15);
    font-family: var(--font-noto-sans-jp);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-16);
    margin-top: fluidSp(30);

    @include pc() {
      font-size: fluidPc(16);
      margin-top: fluidPc(30);
    }

    & + p {
      margin-top: fluidSp(20);

      @include pc() {
        margin-top: fluidPc(20);
      }
    }
  }

  strong {
    font-weight: var(--font-weight-700);
  }

  u {
    text-decoration: underline;
  }

  hr {
    margin-top: fluidSp(40);

    @include pc() {
      margin-top: fluidPc(40);
    }
  }

  blockquote {
    margin-top: fluidSp(30);

    @include pc() {
      margin-top: fluidPc(30);
    }

    > p {
      margin-top: 0;
      &::before {
        content: '“';
      }
  
      &::after {
        content: '”';
      }
    }
  }

  table {
    border-collapse: collapse;
    border: fluidSp(1) solid var(--text-color-black);
    width: stretch;
    margin-top: fluidSp(40);

    @include pc() {
      margin-top: fluidPc(40);
    }

    tbody {
      > tr:first-child {
        th {
          background-color: var(--background-color-gray);
        }
      }
    }
    
    th {
      background-color: var(--background-color-light-gray);
    }

    th,
    td {
      border: fluidSp(1) solid var(--text-color-black);
      padding: fluidSp(12) fluidSp(10);

      @include pc() {
        padding: fluidSp(15) fluidSp(20);
      }

      > p {
        margin-top: 0;
      }
    }
  }

  ul {
    margin-top: fluidSp(30);

    @include pc() {
      margin-top: fluidPc(30);
    }

    li {
      padding-left: fluidSp(18);
      position: relative;

      @include pc() {
        padding-left: fluidPc(20);
      }

      &::before {
        content: '';
        display: block;
        background-color: var(--text-color-black);
        border-radius: 50%;
        width: fluidSp(6);
        height: fluidSp(6);
        aspect-ratio: 1/1;
        position: absolute;
        top: fluidSp(9);
        left: 0;

        @include pc() {
          width: fluidPc(8);
          height: fluidPc(8);
          top: fluidPc(7);
        }
      }
    }
  }

  ol {
    margin-top: fluidSp(30);
    position: relative;

    @include pc() {
      margin-top: fluidPc(30);
    }

    li {
      position: relative;
      counter-increment: cnt;
      padding-left: fluidSp(20);

      @include pc() {
        padding-left: fluidPc(22);
      }

      &::before {
        content: "" counter(cnt) "";
        display: block;
        aspect-ratio: 1/1;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    
  }

  li {
    color: var(--text-color-black);
    font-size: fluidSp(15);
    font-family: var(--font-noto-sans-jp);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-16);

    @include pc() {
      font-size: fluidPc(16);
    }
    &:not(:first-child) {
      margin-top: fluidSp(15);

      @include pc() {
        margin-top: fluidPc(15);
      }
    }
  }

  figure {
    width: fit-content;
    margin-top: fluidSp(40);

    @include pc() {
      margin-top: fluidPc(40);
    }

    & > a {
      display: block;
      width: fit-content;
      transition: opacity 0.3s;
    }

    @include pc() {
      &:has(a) {
        &:hover {
          a,
          figcaption {
            opacity: 0.7;
          }
        }
      }
    }
  }

  figcaption {
    color: var(--text-color-black);
    font-size: fluidSp(15);
    font-family: var(--font-noto-sans-jp);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-16);
    width: fit-content;
    margin-top: fluidSp(15);

    @include pc() {
      font-size: fluidPc(16);
      margin-top: fluidPc(15);
      transition: opacity 0.3s;
    }
  }
}