:root {
  /* color */
  --color-base: #ffffff;
  --color-primary: #004AC6;
  --color-secondary: #BC4800;

  --color-text-black: #131B2E;
  --color-text-primary: #004AC6;
  --color-text-black-dark: #000000;

  --color-bg-blue: #EEF0FF;

  /* font-weight */
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /* line-height */
  --line-height-10: 1;
  --line-height-14: 1.4;
  --line-height-15: 1.5;
  --line-height-16: 1.6;
  --line-height-18: 1.8;
  --line-height-20: 2;
}

body {
  background: var(--color-base);
  color: var(--color-text-black);
  font-family: var(--font-noto-sans-jp), sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

ul {
  list-style: none;
  margin-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: inherit;
}

.isPc {
  @include sp() {
    display: none;
  }
}

.isSp {
  @include pc() {
    display: none;
  }
}