:root {
  /* color */
  --color-base: #ffffff;
  --color-primary: #004AC6;
  --color-secondary: #BC4800;

  --color-text-black: #131B2E;
  --color-text-primary: #004AC6;
  --color-text-black-dark: #000000;
  --color-text-white: #FFFFFF;

  --color-bg-light-blue: #EEF0FF;
  --color-bg-primary: #004AC6;
  --color-bg-white: #FFFFFF;
  --color-bg-black: #131B2E;

  --color-border-primary: #004AC6;
  --color-border-gray: #C3C6D7;

  /* font-weight */
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /* line-height */
  --line-height-10: 1;
  --line-height-14: 1.4;
  --line-height-15: 1.5;
  --line-height-16: 1.6;
  --line-height-18: 1.8;
  --line-height-20: 2;

  /* font-family */
  --font-family-jost: "Jost", sans-serif;
  --font-family-noto-sans-jp: "Noto Sans JP", sans-serif;

  --spring-default: linear(0, 0.0107, 0.0398, 0.0834, 0.138, 0.2003, 0.2677, 0.3379, 0.4089, 0.4791, 0.5471, 0.612, 0.6731, 0.7297, 0.7815, 0.8283, 0.87, 0.9068, 0.9388, 0.9662, 0.9892, 1.0083, 1.0237, 1.0357, 1.0449, 1.0514, 1.0556, 1.058, 1.0587, 1.0581, 1.0563, 1.0538, 1.0506, 1.0469, 1.043, 1.0388, 1.0347, 1.0306, 1.0266, 1.0228, 1.0192, 1.0159, 1.0128, 1.0101, 1.0076, 1.0055, 1.0036, 1.002, 1.0006, 0.9995, 0.9986, 0.9979, 0.9974, 0.997, 0.9967, 0.9966, 0.9966, 0.9966, 0.9967, 0.9968, 0.997, 0.9972, 0.9975, 0.9977, 0.998, 0.9982, 0.9984, 0.9987, 0.9989, 0.9991, 0.9992, 0.9994, 0.9996, 0.9997, 0.9998, 0.9999, 1, 1, 1.0001, 1.0001, 1.0002, 1.0002, 1.0002, 1.0002, 1.0002, 1.0002, 1.0002, 1.0002, 1.0002, 1.0002, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1, 1, 1);
  --spring-bouncy: linear(0, 0.0222, 0.0833, 0.1743, 0.2867, 0.4123, 0.5436, 0.6739, 0.7978, 0.911, 1.0102, 1.0934, 1.1594, 1.2082, 1.2403, 1.2569, 1.2599, 1.2511, 1.2328, 1.2074, 1.177, 1.1437, 1.1095, 1.0759, 1.0443, 1.0157, 0.991, 0.9705, 0.9546, 0.9431, 0.9359, 0.9326, 0.9327, 0.9357, 0.941, 0.9481, 0.9562, 0.965, 0.9739, 0.9826, 0.9906, 0.9978, 1.0039, 1.0089, 1.0128, 1.0154, 1.017, 1.0176, 1.0174, 1.0164, 1.0149, 1.013, 1.0108, 1.0085, 1.0062, 1.0039, 1.0019, 1.0001, 0.9986, 0.9974, 0.9965, 0.9958, 0.9955, 0.9954, 0.9955, 0.9958, 0.9963, 0.9968, 0.9974, 0.998, 0.9986, 0.9991, 0.9996, 1.0001, 1.0005, 1.0008, 1.001, 1.0011, 1.0012, 1.0012, 1.0011, 1.0011, 1.0009, 1.0008, 1.0006, 1.0005, 1.0003, 1.0002, 1.0001, 0.9999, 0.9999, 0.9998, 0.9997, 0.9997, 0.9997, 0.9997, 0.9997, 0.9997, 0.9998, 0.9998, 1);
}

body {
  background: var(--color-base);
  color: var(--color-text-black);
  font-family: var(--font-noto-sans-jp), sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

ul {
  list-style: none;
  margin-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: inherit;
}

.isPc {
  @include sp() {
    display: none;
  }
}

.isSp {
  @include pc() {
    display: none;
  }
}